/* GLOBAL ******************************************************************************* GLOBAL */
body{font-size:11px;}
body.alt{background:#000;color:#CCC;}
/* ELEMENTS *************************************************************************** ELEMENTS */
/* HEADINGS *************************************************************************** HEADINGS */
h1, .h1, h2, .h2, h3, .h3, h4, .h4{color:#fff;text-transform:uppercase;}
h4, .h4{border-bottom:1px solid #fff;line-height:20px;margin-bottom:19px;}
/* DEFAULT ***************************************************************************** DEFAULT */
.inverted{color:#fff;}
.members-side-panel{background:#ed1c24 url(../images/members-side-panel-bg.png) top left repeat;height:280px;}
.members-side-box{padding:20px 20px 0 10px;}
.small{font-size:10px;line-height:15px;}
.small h3, .small .h3 .small p{margin-bottom:10px;}
.short-input{margin-bottom:5px;}
.smooth-bl
{
  -webkit-border-bottom-left-radius:10px;
  -moz-border-radius-bottomleft:10px;
}
.smooth-br
{
  -webkit-border-bottom-right-radius:10px;
  -moz-border-radius-bottomright:10px;
}
.smooth-tl
{
  -webkit-border-top-left-radius:10px;
  -moz-border-radius-topleft:10px;
}
.smooth-tr
{
  -webkit-border-top-right-radius:10px;
  -moz-border-radius-topright:10px;
}
.whatever{padding:5px;}
/* Requires: whatever */
.something{border:1px solid #fff;padding:4px;}
/* ALT ************************************************************************************* ALT */
body.alt .inverted{color:#000;}