/*

  Katalyst's Blueprint CSS Framework
  http://github.com/katalyst/blueprint-css

  Based on Blueprint CSS Framework 0.9
  http://blueprintcss.org/

  Supports IE7+, Safari, FF & Chrome.

  Adapted by Haydn Ewers <haydn@katalyst.com.au>.

*/

/* RESET ********************************************************************************* RESET */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
body {line-height:20px;}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;}
table, td, th {vertical-align:middle;}
blockquote:before, blockquote:after, q:before, q:after {content:"";}
blockquote, q {quotes:"" "";}
a img {border:none;}
/* ELEMENTS *************************************************************************** ELEMENTS */
html {font-size:100.01%;}
body {font-size:75%;color:#222;background:#fff;font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {display:block;font-weight:normal;}
h1, .h1 {font-size:36px;line-height:40px;margin-bottom:10px;}
h2, .h2 {font-size:24px;line-height:40px;margin-bottom:10px;}
h3, .h3 {font-size:18px;line-height:20px;margin-bottom:10px;}
h4, .h4 {font-size:14px;line-height:20px;margin-bottom:10px;}
h5, .h5 {font-size:12px;font-weight:bold;margin-bottom:10px;}
h6, .h6 {font-size:12px;font-weight:bold;}
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {margin:0;}
p {margin:0 0 10px;}
a:focus, a:hover {color:#009;text-decoration:underline;}
a {color:#009;outline:none;text-decoration:none;}
blockquote {margin:20px;color:#666;font-style:italic;}
strong {font-weight:bold;}
em, dfn {font-style:italic;}
dfn {font-weight:bold;}
sup, sub {line-height:0;}
abbr, acronym {border-bottom:1px dotted #666;}
address {margin:0 0 10px;font-style:italic;}
del {color:#666;}
pre {margin:10px 0;white-space:pre;}
pre, code, tt {font:1em 'andale mono', 'lucida console', monospace;line-height:20px;}
li ul, li ol {margin:0;}
ul, ol {margin:0 20px 10px 0;padding-left:40px;}
ul {list-style-type:disc;}
ol {list-style-type:decimal;}
dl {margin:0 0 10px 0;}
dl dt {font-weight:bold;}
dd {margin-left:20px;}
table {margin-bottom:10px;width:100%;}
th {font-weight:bold;}
th, td, caption {padding:5px;}
tfoot {font-style:italic;}
caption {background:#eee;}
hr {background:#ddd;color:#ddd;clear:both;float:none;width:100%;height:1px;margin:0 0 9px;border:none;}
input::-moz-focus-inner{border:0;}
button::-moz-focus-inner{border:0;}
input[type='text'],
input[type='password'],
input[type='email'],
input[type='url'],
input[type='tel'],
textarea {border:1px solid #CCC;padding:2px 3px;}
textarea {font:inherit;}
/* UTILS ********************************************************************************* UTILS */
hr.space, hr.half-space {background:#fff;color:#fff;visibility:hidden;}
hr.half-space {margin-bottom:4px;}
.clearfix:after {content:"\0020";display:block;height:0;clear:both;visibility:hidden;overflow:hidden;}
.clearfix {display:block;}
.clear {clear:both;}
.imgfix {display:block;}
.wrap {overflow:auto;width:100%;} /* alternative for clearfix */
.left {float:left;}
.right {float:right;}
/* GRID *********************************************************************************** GRID */
.container {display:block;width:950px;margin:0 auto;}
.container:after {content:"\0020";display:block;height:0;clear:both;visibility:hidden;overflow:hidden;}
.column, .span-1, .span-2, .span-3, .span-4, .span-5, .span-6, .span-7, .span-8, .span-9, .span-10, .span-11, .span-12, .span-13, .span-14, .span-15, .span-16, .span-17, .span-18, .span-19, .span-20, .span-21, .span-22, .span-23, .span-24 {float:left;margin-right:10px;}
.last-col {margin-right:0;}
.span-1 {width:30px;}
.span-2 {width:70px;}
.span-3 {width:110px;}
.span-4 {width:150px;}
.span-5 {width:190px;}
.span-6 {width:230px;}
.span-7 {width:270px;}
.span-8 {width:310px;}
.span-9 {width:350px;}
.span-10 {width:390px;}
.span-11 {width:430px;}
.span-12 {width:470px;}
.span-13 {width:510px;}
.span-14 {width:550px;}
.span-15 {width:590px;}
.span-16 {width:630px;}
.span-17 {width:670px;}
.span-18 {width:710px;}
.span-19 {width:750px;}
.span-20 {width:790px;}
.span-21 {width:830px;}
.span-22 {width:870px;}
.span-23 {width:910px;}
.span-24 {width:950px;margin-right:0;}
/* append and prepend */
.append-1 {padding-right:40px;}
.append-2 {padding-right:80px;}
.append-3 {padding-right:120px;}
.append-4 {padding-right:160px;}
.append-5 {padding-right:200px;}
.append-6 {padding-right:240px;}
.append-7 {padding-right:280px;}
.append-8 {padding-right:320px;}
.append-9 {padding-right:360px;}
.append-10 {padding-right:400px;}
.append-11 {padding-right:440px;}
.append-12 {padding-right:480px;}
.append-13 {padding-right:520px;}
.append-14 {padding-right:560px;}
.append-15 {padding-right:600px;}
.append-16 {padding-right:640px;}
.append-17 {padding-right:680px;}
.append-18 {padding-right:720px;}
.append-19 {padding-right:760px;}
.append-20 {padding-right:800px;}
.append-21 {padding-right:840px;}
.append-22 {padding-right:880px;}
.append-23 {padding-right:920px;}
.prepend-1 {padding-left:40px;}
.prepend-2 {padding-left:80px;}
.prepend-3 {padding-left:120px;}
.prepend-4 {padding-left:160px;}
.prepend-5 {padding-left:200px;}
.prepend-6 {padding-left:240px;}
.prepend-7 {padding-left:280px;}
.prepend-8 {padding-left:320px;}
.prepend-9 {padding-left:360px;}
.prepend-10 {padding-left:400px;}
.prepend-11 {padding-left:440px;}
.prepend-12 {padding-left:480px;}
.prepend-13 {padding-left:520px;}
.prepend-14 {padding-left:560px;}
.prepend-15 {padding-left:600px;}
.prepend-16 {padding-left:640px;}
.prepend-17 {padding-left:680px;}
.prepend-18 {padding-left:720px;}
.prepend-19 {padding-left:760px;}
.prepend-20 {padding-left:800px;}
.prepend-21 {padding-left:840px;}
.prepend-22 {padding-left:880px;}
.prepend-23 {padding-left:920px;}
/* gutter & col borders and split cols */
.gutter-border {padding-right:4px;margin-right:5px;border-right:1px solid #eee;}
.append-col-border {padding-right:24px;margin-right:25px;border-right:1px solid #eee;}
.prepend-col-border {padding-left:25px;margin-left:14px;border-left:1px solid #eee;}
.append-split-col {padding-right:25px;margin-right:25px;}
.prepend-split-col {padding-left:25px;margin-left:15px;}
/* gutters */
.no-gutter, .fill-gutter {margin-right:0;}
.fill-gutter {padding-right:10px;}
.steal-gutter {padding-left:10px;}
/* BUILT IN *************************************************************************** BUILT IN */
/* lists */
.unmarked-list {list-style-type:none;margin-right:0;padding-left:0;}
.floated-list > li, /* deprecated */
.floated-l-list > li {float:left;}
.floated-r-list > li {float:right;}
.inline-list > li {display:inline;}
.spaced-b-list > li {margin-bottom:10px;}
.spaced-l-list > li {margin-left:10px;}
.spaced-r-list > li {margin-right:10px;}
ol li.last-item,
ul li.last-item,
dl li.last-item {margin-left:0;margin-right:0;}
/* buttons */
.button, .icon-button, .sprite-button {background-position:left top;background-repeat:no-repeat;}
.button:hover, .icon-button:hover, .sprite-button:hover {background-position:left bottom;}
.icon-button {padding-left:1em;}
.sprite-button {display:block;text-align:left;text-indent:-9999px;}
/* borders */
.border, .border-t {border-top:1px solid #eee;}
.border, .border-b {border-bottom:1px solid #eee;}
.border, .border-l {border-left:1px solid #eee;}
.border, .border-r {border-right:1px solid #eee;}
/* errors & alerts */
.alert,
.error {border-color:#900;color:#900;}
/* rounding */
.round, .round-b, .round-l, .round-bl {border-bottom-left-radius:3px;-moz-border-radius-bottomleft:3px;-webkit-border-bottom-left-radius:3px;}
.round, .round-b, .round-r, .round-br {border-bottom-right-radius:3px;-moz-border-radius-bottomright:3px;-webkit-border-bottom-right-radius:3px;}
.round, .round-t, .round-l, .round-tl {border-top-left-radius:3px;-moz-border-radius-topleft:3px;-webkit-border-top-left-radius:3px;}
.round, .round-t, .round-r, .round-tr {border-top-right-radius:3px;-moz-border-radius-topright:3px;-webkit-border-top-right-radius:3px;}
/* formatting */
.align-bottom {vertical-align:bottom;}
.align-center {text-align:center;}
.align-left {text-align:left;}
.align-middle {vertical-align:middle;}
.align-right {text-align:right;}
.align-top {vertical-align:top;}
.lowercase {text-transform:lowercase;}
.nowrap {white-space:nowrap;}
.small {font-size:10px;line-height:15px;}
.small p, .small address, .small pre, .small table, .small ol, .small ul, .small dl {margin-bottom:5px;}
.uppercase {text-transform:uppercase;}
/* spacing (margins) */
.space-0, .space-b-0 {margin-bottom:0;}
.space-half, .space-b-half {margin-bottom:5px;}
.space-1, .space-b-1 {margin-bottom:10px;}
.space-2, .space-b-2 {margin-bottom:20px;}
.space-3, .space-b-3 {margin-bottom:30px;}
.space-4, .space-b-4 {margin-bottom:40px;}
.space-5, .space-b-5 {margin-bottom:50px;}
.space-6, .space-b-6 {margin-bottom:60px;}
.space-box-0, .space-0, .space-t-0 {margin-top:0;}
.space-box-half, .space-half, .space-t-half {margin-top:5px;}
.space-box-1, .space-1, .space-t-1 {margin-top:10px;}
.space-box-2, .space-2, .space-t-2 {margin-top:20px;}
.space-box-3, .space-3, .space-t-3 {margin-top:30px;}
.space-box-4, .space-4, .space-t-4 {margin-top:40px;}
.space-box-5, .space-5, .space-t-5 {margin-top:50px;}
.space-box-6, .space-6, .space-t-6 {margin-top:60px;}
.space-box-0, .space-s-0, .space-0, .space-l-0 {margin-left:0;}
.space-box-half, .space-s-half, .space-half, .space-l-half {margin-left:5px;}
.space-box-1, .space-s-1, .space-1, .space-l-1 {margin-left:10px;}
.space-box-2, .space-s-2, .space-2, .space-l-2 {margin-left:20px;}
.space-box-3, .space-s-3, .space-3, .space-l-3 {margin-left:30px;}
.space-box-4, .space-s-4, .space-4, .space-l-4 {margin-left:40px;}
.space-box-5, .space-s-5, .space-5, .space-l-5 {margin-left:50px;}
.space-box-6, .space-s-6, .space-6, .space-l-6 {margin-left:60px;}
.space-box-0, .space-s-0, .space-0, .space-r-0 {margin-right:0;}
.space-box-half, .space-s-half, .space-half, .space-r-half {margin-right:5px;}
.space-box-1, .space-s-1, .space-1, .space-r-1 {margin-right:10px;}
.space-box-2, .space-s-2, .space-2, .space-r-2 {margin-right:20px;}
.space-box-3, .space-s-3, .space-3, .space-r-3 {margin-right:30px;}
.space-box-4, .space-s-4, .space-4, .space-r-4 {margin-right:40px;}
.space-box-5, .space-s-5, .space-5, .space-r-5 {margin-right:50px;}
.space-box-6, .space-s-6, .space-6, .space-r-6 {margin-right:60px;}
/* all top-* and bottom-* classes are deprecated */
.top-0 {margin-top:0;}
.top-half {margin-top:5px;}
.top-1 {margin-top:10px;}
.top-2 {margin-top:20px;}
.top-3 {margin-top:30px;}
.top-4 {margin-top:40px;}
.top-5 {margin-top:50px;}
.top-6 {margin-top:60px;}
.top-7 {margin-top:70px;}
.top-8 {margin-top:80px;}
.top-9 {margin-top:90px;}
.top-10 {margin-top:100px;}
.bottom-0 {margin-bottom:0;}
.bottom-half {margin-bottom:5px;}
.bottom-1 {margin-bottom:10px;}
.bottom-2 {margin-bottom:20px;}
.bottom-3 {margin-bottom:30px;}
.bottom-4 {margin-bottom:40px;}
.bottom-5 {margin-bottom:50px;}
.bottom-6 {margin-bottom:60px;}
.bottom-7 {margin-bottom:70px;}
.bottom-8 {margin-bottom:80px;}
.bottom-9 {margin-bottom:90px;}
.bottom-10 {margin-bottom:100px;}
/* padding */
.pad-0, .pad-b-0 {padding-bottom:0;}
.pad-half, .pad-b-half {padding-bottom:5px;}
.pad-1, .pad-b-1 {padding-bottom:10px;}
.pad-2, .pad-b-2 {padding-bottom:20px;}
.pad-3, .pad-b-3 {padding-bottom:30px;}
.pad-4, .pad-b-4 {padding-bottom:40px;}
.pad-5, .pad-b-5 {padding-bottom:50px;}
.pad-6, .pad-b-6 {padding-bottom:60px;}
.pad-box-0, .pad-0, .pad-t-0 {padding-top:0;}
.pad-box-half, .pad-half, .pad-t-half {padding-top:5px;}
.pad-box-1, .pad-1, .pad-t-1 {padding-top:10px;}
.pad-box-2, .pad-2, .pad-t-2 {padding-top:20px;}
.pad-box-3, .pad-3, .pad-t-3 {padding-top:30px;}
.pad-box-4, .pad-4, .pad-t-4 {padding-top:40px;}
.pad-box-5, .pad-5, .pad-t-5 {padding-top:50px;}
.pad-box-6, .pad-6, .pad-t-6 {padding-top:60px;}
.pad-box-0, .pad-s-0, .pad-0, .pad-l-0 {padding-left:0;}
.pad-box-half, .pad-s-half, .pad-half, .pad-l-half {padding-left:5px;}
.pad-box-1, .pad-s-1, .pad-1, .pad-l-1 {padding-left:10px;}
.pad-box-2, .pad-s-2, .pad-2, .pad-l-2 {padding-left:20px;}
.pad-box-3, .pad-s-3, .pad-3, .pad-l-3 {padding-left:30px;}
.pad-box-4, .pad-s-4, .pad-4, .pad-l-4 {padding-left:40px;}
.pad-box-5, .pad-s-5, .pad-5, .pad-l-5 {padding-left:50px;}
.pad-box-6, .pad-s-6, .pad-6, .pad-l-6 {padding-left:60px;}
.pad-box-0, .pad-s-0, .pad-0, .pad-r-0 {padding-right:0;}
.pad-box-half, .pad-s-half, .pad-half, .pad-r-half {padding-right:5px;}
.pad-box-1, .pad-s-1, .pad-1, .pad-r-1 {padding-right:10px;}
.pad-box-2, .pad-s-2, .pad-2, .pad-r-2 {padding-right:20px;}
.pad-box-3, .pad-s-3, .pad-3, .pad-r-3 {padding-right:30px;}
.pad-box-4, .pad-s-4, .pad-4, .pad-r-4 {padding-right:40px;}
.pad-box-5, .pad-s-5, .pad-5, .pad-r-5 {padding-right:50px;}
.pad-box-6, .pad-s-6, .pad-6, .pad-r-6 {padding-right:60px;}